.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  padding: 120px 60px;
  background-color: var(--foreground);
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  list-style: none;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;
  }
}
