.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid currentColor;
  border-radius: 20px;
  padding: 20px;
}

.article:hover {
  background-color: rgb(255 255 255 / 10%);
  transition: background-color 0.3s;
}

.cover {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 20px;
  object-fit: cover;
}
